<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Kyome22/ShiftWindow/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gfW6qX5a5TkPRUrz3AK+pPNb+wr/SxdN4zPTgJjPj28=</string>
</dict>
</plist>
